body {
    background: #000;
    margin:0;
    border:none;
    overflow-y: hidden;
}
#all{
    margin:0;
    padding:0;
    background: #282525;
    overflow: auto;
}
#LineNumber{
    float:left;
    width:5px;
    height:100%;
}
#TerminalShell {
    padding:0 0 0 0;
    border:none;
    overflow-x: auto;
    width: 100%;
    word-break: break-all;
    height:100%;
    overflow-y: auto;
    margin:0;
}
#iframe{
    height:85%;
    margin:0;
    width:100%;
    display:none;
    border:none;
}
#TerminalFrame{
    margin:0;
    width:100%;
    height:100%;
    border:none;
    background-color: #FFFFFF;
}

/*终端文字显示*/
.Output_Default {
    color: #FFF;
    font-family: "Consolas",monospace;
    line-height: 1.2em;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.Input_Default {
    background: #282525;
    border-style: none;
    color: #FFF;
    font-family: "Consolas",monospace;
    line-height: 1.0em;
    font-size: 15px;
    resize: none;
    letter-spacing: 0.3px;
}
.Output_Code {
    color: #FFF;
    font-family: "Consolas",monospace;
    line-height: 1.2em;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.Input_Code {
    background: #282525;
    border-style: none;
    color: #FFF;
    font-family: "Consolas",monospace;
    line-height: 1.0em;
    font-size: 15px;
    resize: none;
    letter-spacing: 0.3px;
}
.Output_HeadChar {
    color: greenyellow;
    font-family: "Consolas",monospace;
    line-height: 1.2em;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.Input_HeadChar {
    background: #282525;
    border-style: none;
    color: greenyellow;
    font-family: "Consolas",monospace;
    line-height: 1.0em;
    font-size: 15px;
    resize: none;
    letter-spacing: 0.3px;
}